<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>LISTADO CHOFERES VEHICULOS</h1>

    
        <table>
            {%for l in listado%}
            <tr>
                <td>{{l.rut}}</td>
                <td>{{l.nombre}}</td>
                <td>{{l.vehiculo_id.patente}}</td>
            </tr>        
            {%endfor%}
        </table>
        <p><a href="/">Volver al home</a></p>
</body>
</html>